In [1]:
import pandas as pd 
from matplotlib import pyplot as plt

In [14]:
i = 648296
d= 10000
n= 0
r=11
M = i

while n<20: 
    M += 12*d + (M+12*d)*(r/100)
    p = M-(i+12*d*(n+1))
    n +=1
    print('YEAR ',n,' : Amount invested = ',i+12*d*n, '  .  Total = ',round(M), '  .  Profit made = ',round(p))

YEAR  1  : Amount invested =  768296   .  Total =  852809   .  Profit made =  84513
YEAR  2  : Amount invested =  888296   .  Total =  1079818   .  Profit made =  191522
YEAR  3  : Amount invested =  1008296   .  Total =  1331797   .  Profit made =  323501
YEAR  4  : Amount invested =  1128296   .  Total =  1611495   .  Profit made =  483199
YEAR  5  : Amount invested =  1248296   .  Total =  1921960   .  Profit made =  673664
YEAR  6  : Amount invested =  1368296   .  Total =  2266575   .  Profit made =  898279
YEAR  7  : Amount invested =  1488296   .  Total =  2649098   .  Profit made =  1160802
YEAR  8  : Amount invested =  1608296   .  Total =  3073699   .  Profit made =  1465403
YEAR  9  : Amount invested =  1728296   .  Total =  3545006   .  Profit made =  1816710
YEAR  10  : Amount invested =  1848296   .  Total =  4068157   .  Profit made =  2219861
YEAR  11  : Amount invested =  1968296   .  Total =  4648854   .  Profit made =  2680558
YEAR  12  : Amount invested =  2088296   .  Total =  5293428   .  Profit made =  3205132
YEAR  13  : Amount invested =  2208296   .  Total =  6008905   .  Profit made =  3800609
YEAR  14  : Amount invested =  2328296   .  Total =  6803085   .  Profit made =  4474789
YEAR  15  : Amount invested =  2448296   .  Total =  7684624   .  Profit made =  5236328
YEAR  16  : Amount invested =  2568296   .  Total =  8663133   .  Profit made =  6094837
YEAR  17  : Amount invested =  2688296   .  Total =  9749277   .  Profit made =  7060981
YEAR  18  : Amount invested =  2808296   .  Total =  10954898   .  Profit made =  8146602
YEAR  19  : Amount invested =  2928296   .  Total =  12293137   .  Profit made =  9364841
YEAR  20  : Amount invested =  3048296   .  Total =  13778582   .  Profit made =  10730286

In [16]:
i = 0   
d= 1
n= 0
r=12
M = i

while n<90: 
    M += 12*d + (M+12*d)*(r/100)
    p = M-(i+12*d*(n+1))
    n +=1
    print('YEAR ',n,' : Amount invested = ',i+12*d*n, '  .  Total = ',round(M), '  .  Profit made = ',round(p))

YEAR  1  : Amount invested =  12   .  Total =  13   .  Profit made =  1
YEAR  2  : Amount invested =  24   .  Total =  28   .  Profit made =  4
YEAR  3  : Amount invested =  36   .  Total =  45   .  Profit made =  9
YEAR  4  : Amount invested =  48   .  Total =  64   .  Profit made =  16
YEAR  5  : Amount invested =  60   .  Total =  85   .  Profit made =  25
YEAR  6  : Amount invested =  72   .  Total =  109   .  Profit made =  37
YEAR  7  : Amount invested =  84   .  Total =  136   .  Profit made =  52
YEAR  8  : Amount invested =  96   .  Total =  165   .  Profit made =  69
YEAR  9  : Amount invested =  108   .  Total =  199   .  Profit made =  91
YEAR  10  : Amount invested =  120   .  Total =  236   .  Profit made =  116
YEAR  11  : Amount invested =  132   .  Total =  278   .  Profit made =  146
YEAR  12  : Amount invested =  144   .  Total =  324   .  Profit made =  180
YEAR  13  : Amount invested =  156   .  Total =  377   .  Profit made =  221
YEAR  14  : Amount invested =  168   .  Total =  435   .  Profit made =  267
YEAR  15  : Amount invested =  180   .  Total =  501   .  Profit made =  321
YEAR  16  : Amount invested =  192   .  Total =  575   .  Profit made =  383
YEAR  17  : Amount invested =  204   .  Total =  657   .  Profit made =  453
YEAR  18  : Amount invested =  216   .  Total =  749   .  Profit made =  533
YEAR  19  : Amount invested =  228   .  Total =  853   .  Profit made =  625
YEAR  20  : Amount invested =  240   .  Total =  968   .  Profit made =  728
YEAR  21  : Amount invested =  252   .  Total =  1098   .  Profit made =  846
YEAR  22  : Amount invested =  264   .  Total =  1243   .  Profit made =  979
YEAR  23  : Amount invested =  276   .  Total =  1406   .  Profit made =  1130
YEAR  24  : Amount invested =  288   .  Total =  1588   .  Profit made =  1300
YEAR  25  : Amount invested =  300   .  Total =  1792   .  Profit made =  1492
YEAR  26  : Amount invested =  312   .  Total =  2020   .  Profit made =  1708
YEAR  27  : Amount invested =  324   .  Total =  2276   .  Profit made =  1952
YEAR  28  : Amount invested =  336   .  Total =  2563   .  Profit made =  2227
YEAR  29  : Amount invested =  348   .  Total =  2884   .  Profit made =  2536
YEAR  30  : Amount invested =  360   .  Total =  3244   .  Profit made =  2884
YEAR  31  : Amount invested =  372   .  Total =  3646   .  Profit made =  3274
YEAR  32  : Amount invested =  384   .  Total =  4097   .  Profit made =  3713
YEAR  33  : Amount invested =  396   .  Total =  4602   .  Profit made =  4206
YEAR  34  : Amount invested =  408   .  Total =  5168   .  Profit made =  4760
YEAR  35  : Amount invested =  420   .  Total =  5802   .  Profit made =  5382
YEAR  36  : Amount invested =  432   .  Total =  6511   .  Profit made =  6079
YEAR  37  : Amount invested =  444   .  Total =  7306   .  Profit made =  6862
YEAR  38  : Amount invested =  456   .  Total =  8196   .  Profit made =  7740
YEAR  39  : Amount invested =  468   .  Total =  9193   .  Profit made =  8725
YEAR  40  : Amount invested =  480   .  Total =  10310   .  Profit made =  9830
YEAR  41  : Amount invested =  492   .  Total =  11560   .  Profit made =  11068
YEAR  42  : Amount invested =  504   .  Total =  12961   .  Profit made =  12457
YEAR  43  : Amount invested =  516   .  Total =  14530   .  Profit made =  14014
YEAR  44  : Amount invested =  528   .  Total =  16287   .  Profit made =  15759
YEAR  45  : Amount invested =  540   .  Total =  18255   .  Profit made =  17715
YEAR  46  : Amount invested =  552   .  Total =  20459   .  Profit made =  19907
YEAR  47  : Amount invested =  564   .  Total =  22927   .  Profit made =  22363
YEAR  48  : Amount invested =  576   .  Total =  25692   .  Profit made =  25116
YEAR  49  : Amount invested =  588   .  Total =  28788   .  Profit made =  28200
YEAR  50  : Amount invested =  600   .  Total =  32256   .  Profit made =  31656
YEAR  51  : Amount invested =  612   .  Total =  36140   .  Profit made =  35528
YEAR  52  : Amount invested =  624   .  Total =  40491   .  Profit made =  39867
YEAR  53  : Amount invested =  636   .  Total =  45363   .  Profit made =  44727
YEAR  54  : Amount invested =  648   .  Total =  50820   .  Profit made =  50172
YEAR  55  : Amount invested =  660   .  Total =  56932   .  Profit made =  56272
YEAR  56  : Amount invested =  672   .  Total =  63777   .  Profit made =  63105
YEAR  57  : Amount invested =  684   .  Total =  71444   .  Profit made =  70760
YEAR  58  : Amount invested =  696   .  Total =  80031   .  Profit made =  79335
YEAR  59  : Amount invested =  708   .  Total =  89648   .  Profit made =  88940
YEAR  60  : Amount invested =  720   .  Total =  100419   .  Profit made =  99699
YEAR  61  : Amount invested =  732   .  Total =  112483   .  Profit made =  111751
YEAR  62  : Amount invested =  744   .  Total =  125994   .  Profit made =  125250
YEAR  63  : Amount invested =  756   .  Total =  141127   .  Profit made =  140371
YEAR  64  : Amount invested =  768   .  Total =  158075   .  Profit made =  157307
YEAR  65  : Amount invested =  780   .  Total =  177058   .  Profit made =  176278
YEAR  66  : Amount invested =  792   .  Total =  198318   .  Profit made =  197526
YEAR  67  : Amount invested =  804   .  Total =  222130   .  Profit made =  221326
YEAR  68  : Amount invested =  816   .  Total =  248799   .  Profit made =  247983
YEAR  69  : Amount invested =  828   .  Total =  278668   .  Profit made =  277840
YEAR  70  : Amount invested =  840   .  Total =  312122   .  Profit made =  311282
YEAR  71  : Amount invested =  852   .  Total =  349590   .  Profit made =  348738
YEAR  72  : Amount invested =  864   .  Total =  391554   .  Profit made =  390690
YEAR  73  : Amount invested =  876   .  Total =  438554   .  Profit made =  437678
YEAR  74  : Amount invested =  888   .  Total =  491194   .  Profit made =  490306
YEAR  75  : Amount invested =  900   .  Total =  550150   .  Profit made =  549250
YEAR  76  : Amount invested =  912   .  Total =  616182   .  Profit made =  615270
YEAR  77  : Amount invested =  924   .  Total =  690137   .  Profit made =  689213
YEAR  78  : Amount invested =  936   .  Total =  772967   .  Profit made =  772031
YEAR  79  : Amount invested =  948   .  Total =  865736   .  Profit made =  864788
YEAR  80  : Amount invested =  960   .  Total =  969638   .  Profit made =  968678
YEAR  81  : Amount invested =  972   .  Total =  1086008   .  Profit made =  1085036
YEAR  82  : Amount invested =  984   .  Total =  1216343   .  Profit made =  1215359
YEAR  83  : Amount invested =  996   .  Total =  1362317   .  Profit made =  1361321
YEAR  84  : Amount invested =  1008   .  Total =  1525809   .  Profit made =  1524801
YEAR  85  : Amount invested =  1020   .  Total =  1708919   .  Profit made =  1707899
YEAR  86  : Amount invested =  1032   .  Total =  1914003   .  Profit made =  1912971
YEAR  87  : Amount invested =  1044   .  Total =  2143697   .  Profit made =  2142653
YEAR  88  : Amount invested =  1056   .  Total =  2400954   .  Profit made =  2399898
YEAR  89  : Amount invested =  1068   .  Total =  2689081   .  Profit made =  2688013
YEAR  90  : Amount invested =  1080   .  Total =  3011785   .  Profit made =  3010705

In [23]:
i = 18634066   
d= 0
n= 0
r=12
M = i

while n<5: 
    M += 12*d + (M+12*d)*(r/100)
    p = M-(i+12*d*(n+1))
    n +=1
    print('YEAR ',n,' : Amount invested = ',i+12*d*n, '  .  Total = ',round(M), '  .  Profit made = ',round(p))

YEAR  1  : Amount invested =  18634066   .  Total =  20870154   .  Profit made =  2236088
YEAR  2  : Amount invested =  18634066   .  Total =  23374572   .  Profit made =  4740506
YEAR  3  : Amount invested =  18634066   .  Total =  26179521   .  Profit made =  7545455
YEAR  4  : Amount invested =  18634066   .  Total =  29321064   .  Profit made =  10686998
YEAR  5  : Amount invested =  18634066   .  Total =  32839591   .  Profit made =  14205525